<!-- src/app/app.component.html -->



  <mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu" [disabled] = "!signIn.isAuthenticated()">
      <span>A Test</span>
    </button>
    <mat-menu #menu="matMenu"  >
      <button mat-menu-item >
        <mat-icon>shop_two</mat-icon>
        <span>New Suite</span>
      </button>
      <button mat-menu-item>
        <mat-icon>next_week</mat-icon>
        <span>New Case</span>
      </button>
      <button mat-menu-item>
        <mat-icon>picture_in_picture</mat-icon>
        <span>New UI</span>
      </button>
      <button mat-menu-item>
        <mat-icon>library_books</mat-icon>
        <span>New Data</span>
      </button>
    </mat-menu>
    
    <span fxFlex>&nbsp;</span>
    <button  matTooltip="Login" *ngIf="!signIn.isAuthenticated()" routerLink="/login" >
      <mat-icon>account_circle</mat-icon>
    </button>
    <button  matTooltip="Logout" *ngIf="signIn.isAuthenticated()" (click)="logout()" >
      <mat-icon>account_box</mat-icon>
    </button>
  </mat-toolbar>

  <mat-tab-group >
    <mat-tab label="Script" [disabled] = "!signIn.isAuthenticated()" >
      <!-- <app-search [options]="['Suite', 'Case', 'OUT', 'Data']"></app-search> -->
    </mat-tab>
    <mat-tab label="Environment" [disabled] = "!signIn.isAuthenticated()" >
      <!-- <app-search [options]="['Idle', 'Running', 'Stopped']"></app-search> -->
    </mat-tab>
    <mat-tab label="Result" [disabled] = "!signIn.isAuthenticated()" >
      <!-- <app-search [options]="['Checked', 'Unchecked', 'Recent 1 day', 'Recent 1 week']"></app-search> -->
    </mat-tab>
  </mat-tab-group>

<!-- <button routerLink="/"> Home </button>
<button *ngIf="!signIn.isAuthenticated()" routerLink="/login"> Login </button>
<button *ngIf="signIn.isAuthenticated()" (click)="logout()"> Logout </button>
<button routerLink="/protected"> Protected </button> -->

<router-outlet></router-outlet>

