<!-- src/app/app.component.html -->


<div *ngIf="!user" id="okta-login-container"></div>
<mat-toolbar>
  <mat-toolbar-row>
    <span>A Test</span>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>shop_two</mat-icon>
        <span>New Suite</span>
      </button>
      <button mat-menu-item>
        <mat-icon>next_week</mat-icon>
        <span>New Case</span>
      </button>
      <button mat-menu-item>
        <mat-icon>picture_in_picture</mat-icon>
        <span>New UI</span>
      </button>
      <button mat-menu-item>
        <mat-icon>library_books</mat-icon>
        <span>New Data</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>

    <span class="toolbar-spacer"></span>
    <button matTooltip="Login" *ngIf="!user" routerLink="/login">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button [matTooltip]="userName" mat-icon-button [matMenuTriggerFor]="menu" *ngIf="user">
      <mat-icon>account_box</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group>
  <mat-tab label="Script" [disabled]="!user">
    <!-- <app-search [options]="['Suite', 'Case', 'OUT', 'Data']"></app-search> -->
  </mat-tab>
  <mat-tab label="Environment" [disabled]="!user">
    <!-- <app-search [options]="['Idle', 'Running', 'Stopped']"></app-search> -->
  </mat-tab>
  <mat-tab label="Result" [disabled]="!user">
    <!-- <app-search [options]="['Checked', 'Unchecked', 'Recent 1 day', 'Recent 1 week']"></app-search> -->
  </mat-tab>
</mat-tab-group>

<!-- <button routerLink="/"> Home </button>
<button *ngIf="!signIn.isAuthenticated()" routerLink="/login"> Login </button>
<button *ngIf="signIn.isAuthenticated()" (click)="logout()"> Logout </button>
<button routerLink="/protected"> Protected </button> -->

<router-outlet></router-outlet>